.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 13px 15px;
    text-align: center;
    background: none;
    border: 1px solid rgba(112, 119, 229, 0.5);
    border-radius: 10px;

    button {
        cursor: pointer;
        font-weight: 400;
        font-size: 18px;
        background: none;
        border: none;
        color: #fff;
    }

    img {
        width: 20px;
    }
}
.active {
    background: linear-gradient(
        273.52deg,
        rgba(0, 234, 242, 0.2) -54.44%,
        rgba(234, 0, 213, 0.2) 110.67%
    );
    backdrop-filter: blur(11.0754px);
}
