.card_box {
    width: 100%;
    padding: 2px;
    .video_header {
        cursor: pointer;
        position: relative;
        .video_header_logo {
            width: 100%;
            height: 150px;
            object-fit: cover;
        }
        .video_pause {
            border-radius: 50%;
            background: #000000;
            box-shadow: 0px 3.63217px 39.9538px rgba(0, 0, 0, 0.44);
            backdrop-filter: blur(7px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 30px;
            .video_box_pause {
                width: 30px;
                height: 30px;
                position: absolute;
                top: 50%;
                left: 55%;
                transform: translate(-55%, -50%);
            }
        }
    }
    .video_body {
        position: relative;
        padding: 0 10px;
        margin-top: -35px;
        background: none;
        .box_title {
            margin-top: 30px;
            text-align: center;
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 15px;
            padding-top: 10px;
        }
        .box_buttons {
            min-width: 300px;
            display: flex;
            justify-content: space-between;
            gap: 10px;
            margin-bottom: 20px;
            .box_button {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 10px 20px;
                background: rgba(0, 0, 0, 0.23);
                backdrop-filter: blur(47.6218px);
                &_header {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .count {
                        font-family: 'Octosquares-Bold';
                        font-weight: 400;
                        font-size: 20px;
                    }
                    .member_icon {
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;
                    }
                }
                &_title {
                    font-family: 'Octosquares-Bold';
                    font-weight: 400;
                    font-size: 20px;
                    background: linear-gradient(
                        270deg,
                        #ea00d5 -6.27%,
                        #3d5eff 60.51%,
                        #00eaf2 109.84%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
                &_footer {
                    white-space: nowrap;
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }
        .box_text {
            text-align: center;
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 20px;
            padding: 0 10px;
        }
        .box_footer {
            padding: 0 5px;
            display: flex;
            justify-content: center;
            padding-bottom: 10px;
            .footer_dates {
                .date_text {
                    font-size: 16px;
                }
                .date_value {
                    font-size: 16px;
                }
            }
            .tag_content {
                display: flex;
                margin-right: 7px;
                .tag {
                    width: fit-content;
                    padding: 3px 13px;
                    background: none;
                    font-weight: 400;
                    font-size: 16px;
                    color: #6bb8ff;
                    &:not(:last-child) {
                        margin-bottom: 5px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    &:hover {
        &:before {
            content: '';
            position: absolute;
            width: 1000px;
            height: 100%;
            background: linear-gradient(
                106.95deg,
                rgba(1, 167, 255, 0.8) 0.4%,
                rgba(255, 0, 245, 0.8) 103.58%,
                rgba(255, 0, 245, 0.8) 103.58%
            );
            animation: animate 5s linear infinite;
        }
        @keyframes animate {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}