.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    .left {
        flex: 40%;
        background: rgba(49, 26, 71, 0.45);
        overflow: hidden;
        height: 100vh;
    }
    .right {
        flex: 60%;
        display: flex;
        flex-direction: column;
    }
}
.video {
    width: 100%;
    aspect-ratio: 16/9;
}
.infoButtons {
    display: flex;
    button {
        color: white;
        flex: 50%;
        background: linear-gradient(
            to right,
            rgba(234, 0, 213, 0.25),
            rgba(112, 119, 229, 0.25)
        );
        border: none;
        padding: 15px;
        mix-blend-mode: hard-light;
        cursor: pointer;
        font-size: 18px;
    }
    .active {
        border: 1px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(
            90deg,
            rgba(0, 234, 242, 50%),
            rgba(234, 0, 213, 50%)
        );
        mix-blend-mode: normal;
    }
}
.content {
    padding: 20px;
    overflow: scroll;
    height: calc(100vh - 180px - (40vw * 0.5625));
}
.profile {
    display: flex;
    margin: 5px 0;
    align-items: center;
    width: 100%;
    .profileImage {
        width: 80px;
        height: 80px;
        border-radius: 50px;
        margin-right: 20px;
        overflow: hidden;
        background-color: white;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .profileTitle {
        display: flex;
        flex-direction: column;
        color: white;
        .name {
            font-size: 18px;
        }
        .followers {
            font-size: 16px;
            color: #a6a6a6db;
        }
    }
    .subscribeButton {
        border: none;
        padding: 15px 30px;
        cursor: pointer;
        text-transform: uppercase;
        transition: transform 0.2s;
        font-weight: 600;
        border-radius: 10px;
        color: white;
        background: rgba(255, 255, 255, 0.33);
        margin-left: auto;
    }
    .profileAnnouncement {
        width: 100px;
        height: 50px;
        border-radius: 106.151px;
        background: rgba(82, 79, 79, 0.33);
        box-shadow: inset 3.50914px 3.50914px 23.6867px
            rgba(255, 255, 255, 0.07);
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        backdrop-filter: blur(45.4986px);
        margin-left: 15px;
        .bell {
            position: absolute;
            left: 5%;
            height: 85%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.8;
        }
    }
}
.description {
    margin-top: 15px;
    font-size: 16px;
    line-height: 28px;
    color: white;
    margin-bottom: 15px;
}
.additionalInfo {
    display: flex;
    gap: 50px;
    color: #b1b1b1;
    font-weight: 200;
    font-size: 15px;
    margin-bottom: 25px;
}
.levelButton {
    font-size: 18px;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border: solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(
        90deg,
        #ea00d5 -16.67%,
        #7077e5 118.2%
    );
    background: linear-gradient(
        273.52deg,
        rgba(0, 234, 242, 0.1) -54.44%,
        rgba(234, 0, 213, 0.1) 110.67%
    );
    mix-blend-mode: hard-light;
    color: white;
}
.announcements {
    margin-top: 20px;
    font-size: 18px;
    width: 100%;
    .title {
        color: white;
        font-size: 20px;
    }
}

// right section

.headerButtons {
    background: rgba(22, 22, 22, 0.31);
    width: 100%;
    height: 60px;
    display: flex;
    box-shadow: inset 0 -1px 5px #d90ada54, inset 1px 0 5px #00eaf254;
    backdrop-filter: blur(6px);
    button {
        background-color: transparent;
        color: white;
        flex: 33.3333%;
        border: none;
        cursor: pointer;
        font-size: 18px;
    }
    .active {
        color: #ea00d5;
        border-bottom: 3px solid #ea00d5;
    }
}
.rightMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;
    height: calc(100vh - 200px);
    overflow-y: scroll;
}
.videosSection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.statistics {
    display: flex;
    padding: 30px;
    align-items: center;
    .statisticsLeft {
        flex: 55%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        height: 100%;
        .item {
            background: rgba(0, 0, 0, 0.23);
            padding: 20px 30px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
            h2 {
                font-weight: 100;
                font-size: 20px;
            }
            p {
                font-size: 14px;
            }
        }
        :hover {
            h2 {
                color: #ea00d5;
            }
        }
    }
    .statisticsRight {
        flex: 45%;
        justify-content: flex-end;
    }
}

//nft stats section ****************************************
.content {
    .buttonsSection {
        height: 60px;
        display: flex;
        gap: 20px;
        margin: 20px 0 30px 0;
        button {
            color: white;
            padding: 10px 30px;
            background: linear-gradient(
                273.52deg,
                rgba(0, 234, 242, 0.1) -54.44%,
                rgba(234, 0, 213, 0.1) 110.67%
            );
            backdrop-filter: blur(11.8182px);
            border: 1px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(
                90deg,
                rgba(0, 234, 242, 50%),
                rgba(234, 0, 213, 50%)
            );
            mix-blend-mode: normal;
            font-size: 18px;
            cursor: pointer;
        }
        .active {
            background: #c40fd2;
            backdrop-filter: blur(11.8182px);
        }
    }
    .cardSection {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;
    }
    .card {
        border: 1px solid rgba(61, 94, 255, 0.7);
        width: max(280px, calc(100% / 3 - 15px));
        color: white;
    }
}
.nftMain {
    padding: 20px;
    overflow: scroll;
    height: calc(100vh - 140px);
}

.graphContainer {
    padding: 20px;
    background: rgba(33, 35, 52, 0.45);
    box-shadow: inset 4px 4px 27px rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(51.863px);
    margin-bottom: 50px;
    .profile {
        display: flex;
        color: white;
        border-bottom: 1px solid rgba(83, 83, 83, 1);
        padding-bottom: 50px;
        section {
            margin-left: auto;
            display: flex;
            gap: 20px;
            .item {
                cursor: pointer;
                padding: 20px 30px;
                margin-left: auto;
                background: rgba(0, 0, 0, 0.05);
                box-shadow: inset 4px 4px 27px rgba(255, 255, 255, 0.04);
                backdrop-filter: blur(51.863px);
                padding: 10px 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h2 {
                    font-weight: 100;
                    font-size: 20px;
                }
                p {
                    font-size: 14px;
                }
            }
            :hover {
                h2 {
                    color: #ea00d5;
                }
            }
        }
    }

    .tradeGraph {
        margin-top: 50px;
    }
}
.activitiesSection {
    padding: 25px;
    border-radius: 5px;
    background: rgba(23, 28, 45, 1);
    .title {
        display: flex;
        gap: 15px;
        color: white;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .activities {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .singleActivity {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;

            .activityItem {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: white;
                font-size: 18px;
                gap: 10px;
                svg {
                    width: 30px;
                    height: 30px;
                }
            }
            :last-child {
                flex: 10%;
                justify-content: flex-end;
            }
        }
    }
}
