.container {
    width: 24%;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 12px;
    position: relative;
    overflow: hidden;

    box-shadow: 0px 0px 27.6433px rgba(105, 0, 255, 0.06),
        inset 0px 0px 19.2776px rgba(255, 255, 255, 0.21);
    z-index: 0;
    .back {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgb(7, 40, 68);
        background: linear-gradient(
            90deg,
            rgba(5, 29, 50, 1) 0%,
            rgba(59, 30, 120, 1) 50%,
            rgba(91, 0, 82, 1) 100%
        );
        z-index: -1;
        filter: blur(90px);
    }
    .imgBlock {
        display: flex;
        width: 100%;
        height: 230px;
        background-color: white;
        overflow: hidden;
        .img {
            width: 100%;
            height: 100%;
        }
    }
    .info {
        display: flex;
        align-items: flex-start;
        margin: 15px 5px;
        .logo {
            width: 35px;
            height: 35px;
            background-color: white;
            border-radius: 25px;
            margin-right: 10px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .name {
            font-size: 18px;
        }
        .size {
            font-size: 13px;
            margin-left: auto;
            margin-right: 20px;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 6px;
            p::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 0.5px;
                background: linear-gradient(
                    to right,
                    #d70bda,
                    #ffc240,
                    #649bff,
                    #ffc240,
                    #abdd42,
                    #07ffff,
                    #0f50c7,
                    #d70bda
                );
                left: 0;
                top: 53%;
            }
            .number {
                background: rgb(234, 0, 213);
                background: linear-gradient(
                    270deg,
                    rgba(234, 0, 213, 1) 58%,
                    rgba(61, 94, 255, 1) 88%,
                    rgba(0, 234, 242, 1) 100%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                font-weight: bold;
                font-size: 16px;
            }
        }
        .date {
            font-size: 13px;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 6px;
            justify-self: flex-start;
            p::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 0.5px;
                background: linear-gradient(
                    to right,
                    #d70bda,
                    #ffc240,
                    #649bff,
                    #ffc240,
                    #abdd42,
                    #07ffff,
                    #0f50c7,
                    #d70bda
                );
                left: 0;
                top: 53%;
            }
        }
    }
    .spots {
        margin-bottom: 10px;
        .progress {
            width: 100%;
            height: 5px;
            background: linear-gradient(to right, #ea00d5 30%, #2c2c35 0%);
        }
        .info {
            line-height: 0;
            display: flex;
            justify-content: space-between;
            font-size: 14px;

            div {
                display: flex;
                gap: 20px;
            }
        }
    }
    .btn {
        width: 50%;
        align-self: center;
        margin-bottom: 10px;
    }
}
